## NestJS
SERVER_PORT=XXXX

## PostgreSQL
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"
POSTGRES_CONTAINER_NAME=example-container-name
POSTGRES_PORT=XXXX
POSTGRES_USER=example-user
POSTGRES_PASSWORD=example-password
POSTGRES_DB=example-db

## Redis
REDIS_URL="redis://${REDIS_SERVER}:${REDIS_PORT}"
REDIS_SERVER=example-server
REDIS_CONTAINER_NAME=example-container-name
REDIS_PORT=XXXX